HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
src/main/resources/static

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log

### VS Code ###
.vscode/
/src/main/frontend/komornik-gpt/node_modules
/certs/
src/main/resources/daneDoKont.properties
src/main/resources/daneDoKontLocal.properties
src/main/resources/daneDoKontProd.properties
src/main/resources/mail.properties
docker-compose-local.yml
local.Dockerfile
/logs/*
prod-data